.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body {
  height: 100vh;
  background: linear-gradient(rgba(75, 75, 75, 0.808), rgba(36, 36, 36, 0.87)),
    center / cover url(https://source.unsplash.com/collection/2479456/1600x900);
  overflow: hidden;
}

.spinning-globe {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 150px;
  margin-bottom: 2.5rem;
  left: 50%;
  background: center / cover url(img/earth.png);
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
  position: relative;
  animation: 🗺️ 35s linear infinite;
}

@keyframes 🗺️ {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 719px 0;
  }
}
