body {
  background: var(--blueSteel);
  background-attachment: fixed;
  --blackSteak: rgb(41, 41, 41);
  --offWhite: #fcfcfc;
  --blueSteel: linear-gradient(to bottom, #91eae4, #86a8e7, #7f7fd5);
}

.App {
  height: 100%;
  text-align: center;
  width: 100%;
}

.menu {
  display: block !important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu {
  background-color: var(--offWhite);
  height: 8%;
  position: fixed;
  top: 92%;
  width: 100%;
}

.menu-button {
  display: inline-flex;
  justify-content: space-around;
  height: 8vh;
  width: 33vw;
}

.menu-button-icon {
  filter: invert(40%) sepia() saturate(100%) hue-rotate(200deg);
}

#home-button,
#nearby-button {
  height: 30px;
}

#search-button {
  padding-top: 10px;
  height: 40px;
}

#home-button:hover,
#nearby-button:hover,
#search-button:hover {
  filter: invert(70%) sepia() saturate(7000%) hue-rotate(190deg);
  /* whaaaaaaaat the helllllllll is saturate 7000% lol */
}

/* HOME COMPONENT */
#home-profile-picture {
  background-color: grey;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.616);
  height: 10em;
  position: relative;
  top: 5rem;
  width: 10em;
}

#home-settings-icon {
  filter: invert(30%);
  height: 1.75em;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
}

#home-info-container {
  padding: 3rem 0 5rem 0;
}

/* ACHIEVEMENT COMPONENT */
.achievement-container {
  background-color: var(--offWhite);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.39);
  min-height: 12rem;
  margin: 1rem auto 0 auto;
  padding-top: 1rem;
  width: calc(100% - 2rem);
}

.achievement-header {
  color: var(--blackSteak);
}

.achievement-slider {
  background-color: #dedede;
  border-radius: 2px;
  height: 10px;
  margin: auto;
  width: 15rem;
}

.achievement-slider-fill {
  background: linear-gradient(to right, #91eae4, #86a8e7);
  border-radius: 0.5em;
  color: var(--offWhite);
  height: 100%;
  width: 40%;
}

.achievement-score {
  color: #7f7fd5;
  font-size: 2rem;
  height: 5rem;
  margin: 1rem;
  vertical-align: middle;
}

.achievement-slider-image {
  height: 5rem;
  margin: 1rem;
}

.menu {
  box-shadow: -1px -1px 5px rgba(71, 71, 71, 0.246);
}
