* {
  transition: 0.2s;
  outline: none;
}

body {
  background: var(--blueSteel);
  background-attachment: fixed;
  --blackSteak: rgb(41, 41, 41);
  --offWhite: #fcfcfc;
  --blueSteel: linear-gradient(to bottom, #7145e3, #5694ee, #6ce9fc);
  height: 18rem;
}

.App {
  text-align: center;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu {
  background-color: var(--offWhite);
  height: 8%;
  position: fixed;
  top: 92%;
  width: 100%;
}

.menu-button {
  display: inline-flex;
  justify-content: space-around;
  height: 8vh;
  width: 33vw;
}

.profile {
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 1.2rem;
}

.menu-button-icon {
  filter: invert(40%) sepia() saturate(100%) hue-rotate(200deg);
}

#home-button,
#nearby-button {
  height: 30px;
}

#search-button {
  padding-top: 10px;
  height: 40px;
}

#home-button:hover,
#nearby-button:hover,
#search-button:hover {
  filter: invert(70%) sepia() saturate(7000%) hue-rotate(190deg);
  /* whaaaaaaaat the helllllllll is saturate 7000% lol */
}

#notifications-icon,
#info-settings-icon {
  height: 1.75em;
  position: absolute;
  right: 0.75em;
  top: 0.75em;
}

.notification-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--offWhite);
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 3;
  animation: ❤️ 1s linear infinite;
}

@keyframes ❤️ {
  0% {
    box-shadow: 0 0 0 0 rgb(158, 158, 158);
  }
  50% {
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.835);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0);
  }
}

#userImage {
  width: 6rem;
  height: 6rem;
  border: 2px solid white;
  padding: 1.5rem;
  border-radius: 50%;
}

#info-earth-icon {
  height: 100px;
  width: 100px;
}

#notifications-icon:hover,
#info-settings-icon:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px #000);
}

#info-settings-icon {
  left: 0.75em;
}

#home-info-container {
  padding-bottom: 5rem;
}

/* ACHIEVEMENT COMPONENT */
.achievement-container {
  background-color: var(--offWhite);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.39);
  min-height: 10rem;
  margin: 1rem auto 0 auto;
  padding-top: 1rem;
  width: calc(100% - 2rem);
}

.achievement-header {
  color: var(--blackSteak);
  margin: 5px auto;
}

.achievement-slider {
  background-color: #dedede;
  border-radius: 2px;
  height: 10px;
  margin: auto;
  width: 15rem;
}

.achievement-slider-fill {
  background-color: #3974d3;
  border-radius: 0.5em;
  color: var(--offWhite);
  height: 100%;
  width: 40%;
}

.achievement-data-container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.achievement-score {
  color: #8b8b8b;
  font-size: 1rem;
  height: 1rem;

  vertical-align: middle;
}

.achievement-slider-image {
  height: 3rem;
  background-color: rgba(75, 75, 75, 0.808);
  padding: 5px;
  position: relative;
  right: -60px;
  bottom: 45px;
}

.down-arrow {
  background-image: url("./Images/down-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #5694ee;
  filter: invert(50%);
  height: 1rem;
  margin-bottom: 5px;
  width: 100%;
}

.up-arrow {
  transform: scaleY(-1);
}

.achievement-divider {
  background-color: #3974d3;
  height: 1px;
  margin: auto;
  width: 95%;
}

.achievement-expanded {
  /* background-color: magenta; */
  margin-top: 7rem;
  padding: 5px;
}

.achievement-expanded-message {
  color: var(--blackSteak);
  letter-spacing: 0;
  font-size: 14px;
}

/* MENU */
.menu {
  box-shadow: -1px -1px 5px rgba(71, 71, 71, 0.246);
}

/* NEARBY */
.nearby-container {
  padding: 5rem 0 5rem 0;
  width: 100%;
}

.nearby-card {
  background-color: var(--offWhite);
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.39);
  min-height: 9rem;
  margin: 1rem auto;
  padding-top: 1rem;
  width: calc(100% - 2rem);
}

.nearby-profile-pic {
  border-radius: 2rem;
  box-shadow: 0 1px 7px rgba(34, 34, 34, 0.39);
  height: 4rem;
  width: 4rem;
  overflow: hidden;
}

.nearby-person-name {
  color: #7f7fd5;
  display: inline-block;
  margin: 1rem;
  text-align: left;
  width: 60%;
  vertical-align: top;
}

.nearby-distance {
  color: var(--blackSteak);
  margin: 1rem auto;
  letter-spacing: 0;
  text-align: left;
  width: 80%;
}

.nearby-achievements-header {
  color: var(--blackSteak);
  margin-bottom: 3px;
}

.nearby-achievement-list {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 95%;
}

.nearby-list-item {
  background-color: #7f7fd5;
  display: inline-flex;
  justify-content: space-between;
  letter-spacing: 0;
  margin: 0 1rem 5px;
  text-align: center;
  width: 3rem;
}

.nearby-sorry {
  color: var(--blackSteak);
  letter-spacing: 0;
  padding: 0 1rem 1rem;
}

/* PLAY */
.play-form {
  background-color: var(--offWhite);
  border-radius: 8px;
  color: #7f7fd5;
  height: 2.5rem;
  margin: 4rem auto;
  width: 80%;
}

.play-form-expanded {
  border-radius: 8px 8px 0 0;
}

.play-search-first-line {
  border-radius: 8px;
  display: inline-flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.play-input {
  border: 0;
  border-radius: 8px;
  color: var(--blackSteak);
  font-size: 1rem;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 8px;
  width: 70%;
}

.play-form-divider {
  background-color: #86a8e7;
  height: 2rem;
  margin: 4px 0;
  width: 1px;
}

.play-button {
  background: transparent;
  border: none;
  border-radius: 8px;
  color: #86a8e7;
  font-size: 1rem;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  width: 25%;
}

.play-search-dropdown {
  background-color: #fcfcfc;
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #86a8e7;
  display: inline-flex;
  height: 3rem;
  justify-content: space-around;
  padding-top: 1rem;
  margin: auto;
  width: 100%;
}

.play-city-input {
  background-color: #dedede;
  color: var(--blackSteak);
  border: none;
  border-radius: 8px;
  height: 2rem;
  margin: 0 0 0 1rem;
  padding: 0;
  text-align: left;
  text-indent: 1em;
}

.play-state-dropdown {
  background-color: #dedede;
  color: var(--blackSteak);
  border: none;
  border-radius: 8px;
  height: 2rem;
  margin: 0 1rem 0 0;
}

.state-select-word {
  font-size: 13px;
  margin: 8px;
  padding-top: 0;
  text-align: end;
  vertical-align: middle;
}

.nearbycard-container {
  padding: 1rem 0 5rem 0;
  width: 100%;
}

/* NEARBYCARD */
.nearbycard-card {
  background-color: var(--offWhite);
  border-radius: 8px;
  min-height: 7.5rem;
  margin: 10px auto;
  width: 95%;
}

.default-nearbycard {
  display: inline-flex;
  /* background-color: green; */
  justify-content: space-between;
  margin: 1rem;
  width: calc(100% - 2rem);
}

.default-card-small {
  height: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

.nearbycard-business-name {
  color: #3974d3;
  text-align: left;
  width: 75%;
}

.nearbycard-distance {
  background-color: #fcfcfc;
  color: #7145e3;
  padding: 0 0 0 1rem;
  text-align: right;
  width: 20%;
}

.nearbycard-second-row {
  display: inline-flex;
  margin: auto;
  width: calc(100% - 2rem);
}

.nearbycard-category {
  padding: 0 5px;
  width: 1rem;
}

.nearbycard-item {
  color: var(--blackSteak);
  padding: 5px 0 5px 0;
  text-align: left;
}

.expanded-nearbycard {
  background: linear-gradient(to bottom, #fcfcfc, #dedede, #dedede, #dedede);
  border-radius: 0 0 8px 8px;
}

.nearbycard-cause {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0;
}

.nearbycard-business-location {
  padding: 1rem;
  text-align: left;
}

.log-out {
  margin-top: 15px;
  font-size: 10px;
  color: gray;
  cursor: pointer;
}

.log-out:hover {
  filter: brightness(150%);
}

/* LOADING ANIMATION */
#fountainG {
  position: relative;
  width: 84px;
  top: 5rem;
  height: 10px;
  margin: auto;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  animation-name: bounce_fountainG;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: scale(0.3);
  border-radius: 7px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.6s;
}

#fountainG_2 {
  left: 10px;
  animation-delay: 0.75s;
}

#fountainG_3 {
  left: 21px;
  animation-delay: 0.9s;
}

#fountainG_4 {
  left: 31px;
  animation-delay: 1.05s;
}

#fountainG_5 {
  left: 42px;
  animation-delay: 1.2s;
}

#fountainG_6 {
  left: 52px;
  animation-delay: 1.35s;
}

#fountainG_7 {
  left: 63px;
  animation-delay: 1.5s;
}

#fountainG_8 {
  left: 73px;
  animation-delay: 1.64s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(255, 255, 255);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 255, 255);
  }
}
