.spinning-globe {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  top: 50px;
  background: center / cover url(Images/earth.png);
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
  position: relative;
  animation: 🗺️ 35s linear infinite;
}

.step1icon {
  width: 150px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  top: 100px;
  background: center / cover url(Images/step1.png);
  position: relative;
}

.step2icon {
  width: 150px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  top: 100px;
  background: center / cover url(Images/step2.png);
  position: relative;
}

.step3icon {
  width: 150px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  top: 100px;
  background: center / cover url(Images/step3.png);
  position: relative;
}

.step4icon {
  width: 150px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  top: 100px;
  background: center / cover url(Images/step4.png);
  position: relative;
}

.icon * {
  text-align: center;
}

.icon h1 {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 200;
  color: var(--offWhite);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.step1 h1,
.step2 h1,
.step3 h1,
.step4 h1 {
  font-size: 1.3rem;
  margin-top: 10rem;
}

.icon p {
  color: white;
  /* margin-bottom: 10rem; */
  letter-spacing: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes 🗺️ {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 719px 0;
  }
}
