.spinning-globe {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  margin: 0 auto;
  top: 50px;
  background: center / cover url(Images/earth.png);
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
  position: relative;
  animation: 🗺️ 35s linear infinite;
}

.spinningGlobe2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem auto;
  top: 20px;
  background: center / cover url(Images/earth2.png);
  transform: rotate3d(20deg);
  position: relative;
  animation: 🗺️ 65s linear infinite;
  margin-bottom: 5rem;
}

.step1icon,
.step2icon,
.step3icon,
.step4icon {
  width: 128px;
  height: 128px;
  background: #fff;
  margin: 0 auto;
  top: 150px;
  position: relative;
}

.step1icon {
  background: center / cover url(Images/step1.png);
}

.step2icon {
  background: center / cover url(Images/step2.png);
}

.step3icon {
  background: center / cover url(Images/step3.png);
}

.step4icon {
  background: center / cover url(Images/step4.png);
}

.icon * {
  text-align: center;
}

.icon h1 {
  margin-top: 6rem;
  font-size: 3rem;
  font-weight: 200;
  color: var(--offWhite);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.step1 h1,
.step2 h1,
.step3 h1,
.step4 h1 {
  font-size: 1.3rem;
  margin-top: 15rem;
}

.icon p {
  color: white;
  letter-spacing: 1px;
  /* padding-top: 3rem; */
  text-transform: default;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.subtext {
  /* margin-top: 1rem; */
  font-size: 0.7rem;
}

@keyframes 🗺️ {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 719px 0;
  }
}
