* {
  --offWhite: #fcfcfc;
  --blackSteak: rgb(41, 41, 41);
}

h1 {
  font-size: 2rem;
  font-weight: 100;
  color: white;
  margin-top: 3rem;
}

.location {
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 0.5rem;
}

h4 {
  margin-top: 2rem;
  font-weight: 100;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.info-container {
  background-color: var(--offWhite);
  color: var(--blackSteak);
  margin: 1rem auto;
  height: 35rem;
  width: 80%;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(34, 34, 34, 0.39);
  overflow: scroll;
}

.info-title {
  padding: 0.5rem;
  border-bottom: 1px solid #86a8e7;
  color: var(--blackSteak);
  margin-bottom: 1rem;
}

p {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.job-title {
  color: grey;
  letter-spacing: 3px;
  line-height: 2rem;
  font-size: 0.5rem;
}

.app-description {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

.info-container a {
  text-transform: uppercase;
  font-size: 0.5rem;
  color: grey;
  padding: 0 5px;
  text-decoration: none;
}

.info-container a:hover {
  color: rgb(101, 101, 255);
}
