* {
  --blackSteak: rgb(41, 41, 41);
  --offWhite: #fcfcfc;
  --blueSteel: linear-gradient(to bottom, #86a8e7, #a4c0f3);
  border: none;
  padding: 0;
  margin: 0;
}

form {
  text-align: center;
  width: 100%;
}

form button {
  border: none;
  /* border-radius: 20px; */
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-align: center;
  width: 45%;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  background: transparent;
  border: 3px solid white;
  color: var(--offWhite);
}

.slick-dots {
  color: white;
  position: absolute;
  font-size: 3rem;
  bottom: -45%;
}

.slick-dots::before {
  color: white;
}

.login-button {
  left: 15px;
}

.register-button {
  right: 15px;
}

.username {
  margin-top: 4.5rem;
}
