* {
  --blackSteak: rgb(41, 41, 41);
  --offWhite: #fcfcfc;
  --blueSteel: linear-gradient(to bottom, #86a8e7, #a4c0f3);
  border: none;
  padding: 0;
  margin: 0;
}

form {
  text-align: center;
  width: 100%;
}

form input {
  display: block;
  font-size: 1rem;
}

form input,
button {
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 0.5rem auto;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  text-align: center;
  width: 18rem;
}

form button {
  background: var(--blueSteel);
  color: var(--offWhite);
  width: 21rem;
}

form button:hover {
  filter: brightness(110%);
}

.username {
  margin-top: 4.5rem;
}