* {
  --blackSteak: rgb(41, 41, 41);
  --offWhite: #fcfcfc;
  --blueSteel: linear-gradient(to bottom, #86a8e7, #a4c0f3);
  border: none;
  padding: 0;
  margin: 0;
}

.pop-up {
  border-radius: 10px;
  position: fixed;
  /* padding: 1rem 0; */
  font-weight: 100;
  top: 3rem;
  background-color: var(--offWhite);
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px rgba(34, 34, 34, 0.39);
  margin: 0 auto;
  width: 70%;
  align-self: center;
}

.pop-up-container {
  width: 70%;
  margin: 0 auto;
}

.pop-up p {
  font-size: 0.8rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.recent-unlock {
  border-top: 1px dotted rgb(126, 126, 126);
}
